/*Stylesheet file*/

#header {
    /*position: absolute;*/
    top: 0;
    margin-left: 50px;
    width: 100%;
}

#header h1 {
    font-size: 32px;
}

#content-header {
    font-size: 18px;
}

/* Style all p tags*/
p {
    font-size: 12px;
    color: rgb(101, 90, 110) /*!important*/; 
}

 /*Style only child's paragraph of main-content ID */
#main-content  > p {
    color: rgb(99, 134, 27);
}

#sub-content p{
    color: palevioletred;
}

/*Color only first paragraph after h2 in all-articles ID*/
#all-articles h2 + p{ 
 color: rgb(119, 75, 153);
 font-style: italic;
 font-weight: bold;
}

.test{
    color: mediumvioletred; /*It don't work, becouse it's only 10 points for class*/
}

strong{
    color: navy ;
}

.welcome {
    font-size: 25px;
    color: royalblue;
}

a{
    text-decoration: underline;
    color: rgba(13, 82, 187, 0.527);
}

/*Style all links which have some title*/ 
/*it could be also [title ="NOTHING"] // more specify*/
/*[title ~="NOTHING"] // style links where some part of title is "NOTHING"*/
a[title]{
    font-weight: bold;
}
/* $= says that end of href mustb be "pdf"*/
a[href $= "pdf"]{
    font-size: smaller; 
}

span{
    text-transform: uppercase;
    display: block; /*moved all .deck in separate line*/
    color: orangered;
}
/*Style all paragraph which have some class*/
span[class]{
    font-style: italic;
    font-weight: bolder;
}

.deck {
    color:  lightsalmon
}

ul, li{ /* Targeting Multipul Elements  elem1 , elem2, elem3, ....*/
    font-style: italic;
}