#main{
    margin: 10px auto;
    padding: 20px;
}

#main h1{
    background: rgba(200, 200, 200, 0.699);
    height: auto;
    padding: 20px;
    margin: 10px auto;
}

/*Border*/

.box{
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 40px;
}

.dashed{
    border: 3px dashed grey;
}

.dotted{
    border: 3px dotted grey;
}

.double{
    border: 10px double grey ;
}

.groove{
    border: 20px groove grey ;
}

.inset{
    border: 20px inset grey ;
}

.outset{
    border: 20px outset grey ;
}   

.ridge{
    border: 20px ridge grey ;
}

.solid{
    border: 3px solid grey ;
}

/*Blocks and Inlines element*/

#block-inline{
    margin: 20px;
}

.block{
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
}

.inline{
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    display: inline-block;
}