/*Stylesheet file*/

#header {
    /*position: absolute;*/
    top: 0;
    margin-left: 50px;
    width: 100%;
}

#header h1 {
    font-size: 32px;
}

#content-header {
    font-size: 18px;
}

#main-containt p {
    color: rgb(99, 134, 27);
}

/* Style all p tags*/
p {
    font-size: 12px;
    color: blueviolet /*!important*/; 
}

.test{
    color: mediumvioletred; /*It don't work, becouse it's only 10 points for class*/
}

strong{
    color: navy ;
}

.welcome {
    font-size: 25px;
    color: royalblue;
}

a{
    text-decoration: underline;
    color: rgba(13, 82, 187, 0.527);
}

span{
    text-transform: uppercase;
    display: block; /*moved all .deck in separate line*/
    color: orangered;
}

.deck {
    color:  lightsalmon
}